html{
    scroll-behavior: smooth;
    font-size: 16px;
}

*{
    box-sizing: border-box
}
h1{
    text-align: center;
    font-size: 6rem;

}

p {color: rgb(19, 18, 18);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.8rem;
}

body a{
    color: #0000cc;
    font-weight: bold;
    
    text-decoration: none;
}

a:not(.symbol):hover{
    color: #e7b81d;
}

h2{
    text-align: center;
    font-size: 4rem;
}

h3{
    text-align: left;
    font-size: 3rem;
}
