html{
    scroll-behavior: smooth;
    font-size: 16px;
}

h1{
    text-align: center;
    font-size: 6rem;

}

p {color: rgb(19, 18, 18);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.8rem;
}

a{
    color: rgb(13, 13, 13);
    font-weight: bold;
    text-decoration: none;
}

a:not(.symbol):hover{
    color: rgb(102, 101, 101);
}

