footer{
    margin-top: 6rem;
   }
   .footer_personal{
    height: 30rem;
    width: 55rem;
    margin-left: 15rem;
    margin-bottom: 15rem;
    /* border: solid; */
   }

   .footer_personal p{
    font-size: 2.5rem;
    padding-left: 3rem;
    line-height: 3rem;
    
   }

   #google_footer{
    float: right;
    border: solid;
    margin-right: 15rem;
    height: 34.3rem;
    width: 60rem;
   }

   #google_footer iframe{
    height: 34.3rem;
    width: 60rem;
   }

   #Top_button{
      /* border: solid; */
      justify-content: center;
      display: flex;
      margin: 3rem 3rem 3rem 3rem;
      padding: 3rem 3rem 3rem 3rem;
   }
