footer{
    margin-top: 100px;
   }
   .footer_personal{
    height: 400px;
    width: 500px;
    margin-left: 200px;
    margin-bottom: 50px;
    /* border: solid; */
   }

   .footer_personal p{
    font-size: 25px;
    padding-left: 50px;
    line-height: 50px;
    
   }
    
   .footer_contact{
    float: right;
    height: 400px;
    width: 800px;
    padding-top: 5px;
    /* border: solid; */
    margin-right: 300px;
   }

   .footer_form{
    height: 300px;
    width: 700px;
    /* border: solid; */
    font-size: 25px;
    line-height: 70px;
    padding-left: 100px;
   }

   #google_footer{
    float: right;
    border: solid;
    margin-right: 300px;
    height: 400px;
    width: 600px;
   }

   #google_footer iframe{
    height: 400px;
    width: 600px;
   }


