.headshot{
    border-radius: 30%
}
/* Intro photo Start */
.intro{
float: left;
margin-left: 14rem;
margin-top: 7rem;
margin-right: 14rem;
/* border: solid; */
height: 80rem;
}
/* Intro photo End */

.intro img{
    height: 50rem;
    width: 60rem;
}

/* Intro About me Start */
#p_intro{
margin-right: 14rem;
margin-top: 5rem;
margin-left: 75rem;
/* border: solid; */
}
/* Intro About me End */