/* Navigation link Start*/
/* nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 2;
    margin-right: 50px;
   }  */

    #nva_bar nav ul{
    justify-content: space-around;
    display: flex;
    }
    
   nav ul li a{
    font-size: 30px;
    color: rgb(44, 44, 216);
   } 
   
   nav ul li a:hover{
    color: rgb(14, 14, 14);
   }
/* Navigation link End*/