/* body{
    font-family: Arial, Helvetica, sans-serif;

} */

.gallery{
    /* border: solid; */
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll; 
    /* animation: moveLeft 20s linear infinite; */
    position: relative;
}

.gallery-item{   
    margin: 2rem;
    cursor: pointer;
}

.gallery-item figcaption{
    font-size: 3rem;
    margin-top: 2rem;
    /* border: solid; */
    text-align: center;
}

.gallery-img{
    width: 50rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 5rem;
    transition: transform 0.2s;
    /* animation: moveLeft 10s linear infinite;  */
}

.gallery:hover{
    animation-play-state: paused; /* Stop animation on hover */
}

@keyframes moveLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

.gallery-img:hover{
    transform: scale(1.2);
}

.myModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(252, 252, 252);
    text-align: center;
}

.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 70rem;
}

.close{
    position: absolute;
    top: 5rem;
    right: 10rem;
    color: #0d27d0;
    font-size: 10rem;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



