/* attribute for three images in class = pro_image Start*/

#Pro{
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 10rem;
    border: solid;
   }

#pro_h1{
    text-align: center;
    /* border: solid; */
}

/* Below are css for image in teaching section */


.pro_image img{
    width: 25rem;
    height: 21rem;
    max-width: 100%; 
}

.pro_image{
    display: flex;
    justify-content: center;
    gap: 20rem;  
}

.pro_image figcaption{
    font-size: 2rem;
    background-color: rgb(204, 201, 201);
    height: 4rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
} 
/* attribute for three images in class = pro_image End*/