#publication{
 /* border: solid; */
 margin-top: 15rem ;
 margin-left: 25rem;
 margin-right: 25rem;
 /* border: solid; */
}

#pub_title{
    border: solid;
    display:grid;
    
    
}


.pub_list ul li{
    font-size: 2.8rem;
    line-height: 4rem;
}

.pub_list ul li a{
    font-weight: normal;
}

.pub_list ul li{
    list-style: none;
}
