.Teaching{
    /* border: solid; */
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 5rem;
}

.Teaching ul li{
    font-size: 2.5rem;
    font-style: italic;
    line-height: 4rem;
}

/* below is for css style in teaching */


.teaching_li{
    /* border: solid; */
    margin-left: 5rem;
}

#teaching_img{
    border: solid;
    /* justify-content: center; */ 
    padding: 1rem;
    margin-top: 5rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 
}

#teaching_img figcaption{
    font-size: 3rem;
    background-color: rgb(204, 201, 201);
    height: 4rem;
    width: 20rem;
    margin-left: 44rem;
    justify-content: center;
    align-items:center;
    display: flex;
    font-weight: bold;
    margin: 0;
} 

#teaching_img img{
    width: 25rem;
    height: 21rem;
}

#teaching_img figure {
    text-align: center; /* Center the caption and image inside each figure */
}

.teach_book{
    flex-basis: calc(30% - 8px);
}